@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Patua+One|Roboto+Slab:300");
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css");
h1, h2, h3, h4, h5, h6 {
  font-family: "Patua One", cursive;
  color: #04384b;
  letter-spacing: 1px; }

blockquote {
  font-family: "Roboto Slab", serif;
  font-size: 1.5rem;
  padding: 2.5rem 4rem;
  color: #808080; }

a {
  color: #009999; }
  a:hover {
    color: #04384b; }

p {
  line-height: 1.8rem; }

nav.main-navbar {
  background-color: #fff;
  transition: all .25s ease-in-out;
  font-family: "Patua One", cursive;
  padding-top: 1rem;
  padding-bottom: .75rem;
  min-height: 80px; }
  @media (min-width: 992px) {
    nav.main-navbar {
      min-height: 88px; } }
  @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
    nav.main-navbar {
      /* IE10+ specific styles go here */
      height: 88px; } }
  @media screen and (max-width: 991px) and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
    nav.main-navbar {
      /* IE10+ specific styles go here */
      height: 80px; } }
  nav.main-navbar svg.hoh-logo {
    position: relative;
    top: 5px; }
    nav.main-navbar svg.hoh-logo .cls-1 {
      fill: #04384b; }
    nav.main-navbar svg.hoh-logo .cls-2 {
      fill: #009999; }
  @media (min-width: 992px) {
    nav.main-navbar {
      background-color: transparent; }
      nav.main-navbar svg.hoh-logo {
        width: 100%;
        top: 0px; }
        nav.main-navbar svg.hoh-logo .cls-1 {
          fill: #fff; }
        nav.main-navbar svg.hoh-logo .cls-2 {
          fill: #fff; } }
  nav.main-navbar a.navbar-brand {
    display: inline-block;
    width: 12rem; }
    @media (min-width: 992px) {
      nav.main-navbar a.navbar-brand {
        width: 15rem; } }
  nav.main-navbar .navbar-nav {
    width: 100%; }
    @media (min-width: 992px) {
      nav.main-navbar .navbar-nav {
        margin-left: auto;
        width: auto; } }
  nav.main-navbar .navbar-nav li a.nav-link, nav.main-navbar .navbar-nav li.show a.nav-link {
    padding: .75rem 1rem;
    color: #04384b;
    position: relative;
    font-size: 1.2rem;
    letter-spacing: 1px; }
    nav.main-navbar .navbar-nav li a.nav-link:hover, nav.main-navbar .navbar-nav li.show a.nav-link:hover {
      color: rgba(4, 56, 75, 0.8); }
    @media (min-width: 992px) {
      nav.main-navbar .navbar-nav li a.nav-link, nav.main-navbar .navbar-nav li.show a.nav-link {
        color: #fff;
        padding: .5rem 1rem; }
        nav.main-navbar .navbar-nav li a.nav-link:hover, nav.main-navbar .navbar-nav li.show a.nav-link:hover {
          color: rgba(255, 255, 255, 0.8); } }
  nav.main-navbar .navbar-nav li.active a.nav-link {
    color: #04384b; }
    @media (min-width: 992px) {
      nav.main-navbar .navbar-nav li.active a.nav-link {
        color: #fff; } }
    nav.main-navbar .navbar-nav li.active a.nav-link:before {
      content: "";
      width: calc(100% - 2rem);
      height: 4px;
      display: block;
      position: absolute;
      left: 1rem;
      bottom: 0;
      background-color: rgba(0, 153, 153, 0.5); }
  nav.main-navbar.navbar-scrolled {
    background: white;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1); }
    nav.main-navbar.navbar-scrolled svg.hoh-logo .cls-1 {
      fill: #04384b; }
    nav.main-navbar.navbar-scrolled svg.hoh-logo .cls-2 {
      fill: #009999; }
    nav.main-navbar.navbar-scrolled .navbar-nav li a.nav-link {
      color: #04384b; }
      nav.main-navbar.navbar-scrolled .navbar-nav li a.nav-link:hover {
        color: rgba(4, 56, 75, 0.8); }
  nav.main-navbar #menu-item-1543 a {
    border-radius: 4px;
    margin-left: 1rem; }
    nav.main-navbar #menu-item-1543 a:before {
      display: none; }
  nav.main-navbar .nav-item a {
    display: block;
    text-align: center; }
    @media (min-width: 992px) {
      nav.main-navbar .nav-item a {
        display: inline-block; } }
  nav.main-navbar .dropdown-item {
    padding: .75rem 1.5rem;
    display: block;
    text-align: center; }
    @media (min-width: 992px) {
      nav.main-navbar .dropdown-item {
        text-align: left !important; } }
  nav.main-navbar .dropdown-item.active, nav.main-navbar .dropdown-item:active {
    background-color: #009999; }

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 600px) {
  #menu-main-menu {
    width: 100%; } }
.hero {
  height: 280px;
  height: 40vh;
  background-color: #04384b;
  color: #fff;
  text-align: center;
  border-bottom: 5px solid #009999;
  position: relative; }
  @media (min-width: 992px) {
    .hero {
      height: 420px;
      height: calc(60vh); } }
  .hero h1 {
    color: #fff;
    font-size: 2rem; }
    @media (min-width: 768px) {
      .hero h1 {
        font-size: 3rem; } }
  .hero .container {
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translateX(-50%); }
  .hero .wallpaper {
    position: absolute;
    top: 0;
    width: 100%;
    width: 100vw;
    height: 280px;
    height: calc(40vh - 5px);
    background-size: cover;
    background-position: center center;
    opacity: .5; }
    @media (min-width: 992px) {
      .hero .wallpaper {
        height: 420px;
        height: calc(60vh - 5px); } }
  .hero.hero-home {
    height: 400px;
    height: 100vh; }
    @media (min-width: 992px) {
      .hero.hero-home {
        height: 700px;
        height: 100vh; } }
    .hero.hero-home .container {
      margin-top: 18vh; }
    .hero.hero-home .wallpaper {
      height: 400px;
      height: calc(100vh - 5px); }
      @media (min-width: 992px) {
        .hero.hero-home .wallpaper {
          height: 700px;
          height: calc(100vh - 5px); } }

footer.main-footer {
  background-color: #f1f1f1;
  border-top: 4px solid #009999;
  padding-top: 4rem;
  padding-bottom: 4rem; }
  footer.main-footer .col-md-4 {
    margin-bottom: 3rem; }
    @media (min-width: 768px) {
      footer.main-footer .col-md-4 {
        margin-bottom: 0; } }
  footer.main-footer h5 {
    margin-bottom: 1.5rem; }
  footer.main-footer .social-media-icon {
    width: 50px;
    display: inline-block; }
    footer.main-footer .social-media-icon:hover {
      opacity: .8; }
  footer.main-footer .mc4wp-form-fields label {
    display: none; }
  footer.main-footer .mc4wp-form-fields p {
    display: inline-block; }
  footer.main-footer .mc4wp-form-fields input[type=email] {
    padding: .5rem .5rem;
    border-radius: 4px;
    border: 1px solid #e4e4e4; }
    footer.main-footer .mc4wp-form-fields input[type=email]:focus {
      outline: 0;
      border-color: #009999; }

.btn-primary, nav.main-navbar #menu-item-1543 a, footer.main-footer .mc4wp-form-fields input[type=submit], .gform_button.button {
  background-color: #ffba28;
  color: #000;
  border: none;
  padding: .5rem 1.5rem;
  font-family: "Patua One", cursive;
  letter-spacing: 1px;
  transition: all .5s ease-in-out; }
  .btn-primary:hover, nav.main-navbar #menu-item-1543 a:hover, footer.main-footer .mc4wp-form-fields input[type=submit]:hover, .gform_button.button:hover, .btn-primary:active, nav.main-navbar #menu-item-1543 a:active, footer.main-footer .mc4wp-form-fields input[type=submit]:active, .gform_button.button:active, .btn-primary.active, nav.main-navbar #menu-item-1543 a.active, footer.main-footer .mc4wp-form-fields input.active[type=submit], .active.gform_button.button {
    background-color: #f4a600;
    color: #000; }

.gform_wrapper .gfield input[type='text'],
.gform_wrapper .gfield input[type='email'],
.gform_wrapper .gfield input[type='tel'],
.gform_wrapper .gfield textarea {
  padding: 0.5rem 0.5rem !important;
  border-radius: 4px;
  border: 1px solid #e4e4e4;
  font-size: 1.3rem !important; }
  .gform_wrapper .gfield input[type='text']:focus,
  .gform_wrapper .gfield input[type='email']:focus,
  .gform_wrapper .gfield input[type='tel']:focus,
  .gform_wrapper .gfield textarea:focus {
    outline: 0;
    border-color: #009999; }

.gform_wrapper .gfield select {
  height: 48px;
  position: relative;
  top: -1px; }

.gform_button.button {
  cursor: pointer; }

.section--testimonial {
  color: #ffffff; }
  .section--testimonial .testimonial-bar {
    background-color: #04384b;
    text-align: center;
    padding: 2rem; }
    .section--testimonial .testimonial-bar h2 {
      margin-bottom: 0;
      font-size: 1.6rem;
      color: #fff; }
  .section--testimonial .testimonial-background {
    position: relative;
    background-position: center;
    background-size: cover;
    padding: 6rem 0;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(10, 10, 10, 0.5);
    border-top: 5px solid #009999; }
    @media (min-width: 768px) {
      .section--testimonial .testimonial-background {
        font-size: 2rem;
        padding: 10rem 0; } }
    @media (min-width: 1800px) {
      .section--testimonial .testimonial-background {
        padding: 15rem 0; } }
    .section--testimonial .testimonial-background:after {
      content: ' ';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0.5;
      background-color: #04384b; }
    .section--testimonial .testimonial-background .col-sm-6 {
      z-index: 2; }
      .section--testimonial .testimonial-background .col-sm-6 p {
        font-size: 1.5rem;
        line-height: 2.8rem;
        font-family: "Roboto Slab", serif;
        font-weight: 200; }
        @media (min-width: 768px) {
          .section--testimonial .testimonial-background .col-sm-6 p {
            font-size: 1.8rem; } }
      .section--testimonial .testimonial-background .col-sm-6 h6 {
        font-size: 2rem;
        font-family: "Open Sans", sans-serif;
        color: #fff; }
        @media (min-width: 768px) {
          .section--testimonial .testimonial-background .col-sm-6 h6 {
            font-size: 2rem; } }

.donation-cards .donation-card {
  border: none;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1); }
  .donation-cards .donation-card h3 {
    color: #009999;
    margin: 2rem; }
  .donation-cards .donation-card img {
    width: 80px;
    max-width: 80px;
    margin: 0 auto; }
  .donation-cards .donation-card p {
    min-height: 80px;
    margin: 1.5rem 0; }

.team-member {
  margin-bottom: 2rem; }
  .team-member img {
    max-width: 100%; }

.section.section--call-to-action {
  text-align: center;
  overflow: auto;
  background-color: #f1f1f1;
  padding-top: 6rem;
  padding-bottom: 6rem; }
  .section.section--call-to-action h2 {
    margin-bottom: 2rem; }
  .section.section--call-to-action .gform_wrapper .gform_body {
    float: left; }
  .section.section--call-to-action ul.cta-list {
    list-style: none; }
    .section.section--call-to-action ul.cta-list li {
      width: 33%;
      float: left;
      text-align: left;
      font-family: "Patua One", cursive;
      color: #808080; }
      .section.section--call-to-action ul.cta-list li span {
        color: #04384b;
        display: inline-block;
        font-size: 2rem;
        margin-right: 1rem;
        float: left; }

.section-blue {
  background-color: #04384b; }
  .section-blue blockquote {
    color: #ffffff; }

.feature-list {
  margin-top: 48px;
  text-align: left; }
  .feature-list li {
    list-style-type: none;
    border-left: 2px solid #009999;
    margin-top: 15px;
    padding-left: 10px; }

body.home .section--feature-four {
  text-align: center; }
  body.home .section--feature-four h2 {
    margin-bottom: 2rem; }
@media only screen and (max-width: 500px) {
  body.home .section--social-media iframe {
    width: 300px !important; } }

.section--application-cta p {
  font-size: 24px; }
.section--application-cta .btn-primary, .section--application-cta nav.main-navbar #menu-item-1543 a, nav.main-navbar #menu-item-1543 .section--application-cta a, .section--application-cta footer.main-footer .mc4wp-form-fields input[type=submit], footer.main-footer .mc4wp-form-fields .section--application-cta input[type=submit], .section--application-cta .gform_button.button {
  font-size: 20px; }

.page-id-123 ul.feature-list {
  overflow: auto;
  margin-bottom: 3rem;
  margin-top: 0;
  padding-left: 0; }
  .page-id-123 ul.feature-list li {
    float: left;
    width: 50%; }
    @media (min-width: 768px) {
      .page-id-123 ul.feature-list li {
        width: 33%; } }

html {
  font-size: 16px; }

body {
  color: #333;
  font-family: "Open Sans", sans-serif;
  padding-top: 0; }

.section {
  padding-top: 2rem;
  padding-bottom: 2rem; }
  @media (min-width: 768px) {
    .section {
      padding-top: 5rem;
      padding-bottom: 5rem; } }
  .section h2 {
    margin-bottom: 1.5rem; }
  .section p {
    margin-bottom: 2rem; }
  .section img {
    max-width: 100%;
    height: auto; }
