@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Patua+One|Roboto+Slab:300');
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css");

// Color Variables
$brand-primary:           #04384b;
$brand-secondary:         #009999;
$brand-yellow:            #ffba28;

$gray:                    #f1f1f1;
$black:                   #000;
$dark-gray:               #333;
$white:                   #ffffff;

// Font Variables
$headline-font:           'Patua One', cursive;
$quote-font:              'Roboto Slab', serif;
$base-font:               'Open Sans', sans-serif;

// Components
@import "components/typography.scss";
@import "components/header.scss";
@import "components/hero.scss";
@import "components/footer.scss";
@import "components/buttons.scss";
@import "components/forms.scss";
@import "components/testimonial.scss";
@import "components/donation-card.scss";
@import "components/team-member.scss";
@import "components/cta.scss";
@import "components/feature.scss";

// Pages
@import "pages/front-page.scss";
@import "pages/transitional-housing.scss";
@import "pages/donate.scss";

html {
  font-size: 16px; // Default font size for rems to refer to
}
body {
  color: $dark-gray;
  font-family: $base-font;

  padding-top: 0;

  @media (min-width: 992px) {

  }
}

.section {
  padding-top:2rem;
  padding-bottom:2rem;

  @media (min-width: 768px) {
    padding-top:5rem;
    padding-bottom:5rem;
  }

  h2 {
    margin-bottom:1.5rem;
  }
  p {
    margin-bottom:2rem;
  }
  img {
    max-width:100%;
    height: auto;
  }
}
