.page-id-123 {

  ul.feature-list {
    overflow: auto;
    margin-bottom: 3rem;
    margin-top:0;
    padding-left: 0;

    li {
      float: left;
      width: 50%;
      @media (min-width: 768px) {
        width: 33%;
      }
    }
  }

}
