body.home {

  .section--feature-four {
    
    text-align: center;
    h2 {
      margin-bottom:2rem;
    }
  }

  .section--social-media {

    iframe {
      @media only screen and (max-width: 500px) {
        width: 300px !important;
      }

    }
  }

}
