.btn-primary {
  background-color: $brand-yellow;
  color:$black;
  border:none;
  padding: .5rem 1.5rem;
  font-family: $headline-font;
  letter-spacing: 1px;
  transition: all .5s ease-in-out;

  &:hover, &:active, &.active {
    background-color: darken($brand-yellow, 10);
    color:$black;
  }
}
