.section.section--call-to-action {
  text-align: center;
  overflow: auto;
  background-color: $gray;
  padding-top:6rem;
  padding-bottom:6rem;

  h2 {
    margin-bottom:2rem;
  }

  .gform_wrapper {
    .gform_body {
      float: left;
    }
  }

  ul.cta-list {
    list-style: none;

    li {
      width:33%;
      float: left;
      text-align: left;
      font-family: $headline-font;
      color:#808080;
      span {
        color:$brand-primary;
        display: inline-block;
        font-size:2rem;
        margin-right:1rem;
        float: left;
      }
    }

  }

}

.section-blue {
  background-color: $brand-primary;


  blockquote {
    color: $white;
  }
}
