.donation-cards {

  .donation-card {
    border:none;
    box-shadow: 0 0 15px 0 rgba(0,0,0,.1);

    h3 {
      color:$brand-secondary;
      margin:2rem;
    }
    img {
      width: 80px;
      max-width: 80px;
      margin:0 auto;
    }
    p {
      min-height: 80px;
      margin:1.5rem 0;
    }
  }

}
