footer.main-footer {
  background-color: $gray;
  border-top:4px solid $brand-secondary;
  padding-top:4rem;
  padding-bottom:4rem;

  .col-md-4 {
    margin-bottom:3rem;
    @media (min-width: 768px) {
      margin-bottom:0;
    }
  }

  h5 {
    margin-bottom:1.5rem;
  }

  .social-media-icon {
    width: 50px;
    display: inline-block;
    &:hover {
      opacity: .8;
    }
  }

  .mc4wp-form-fields {
    label {
      display: none;
    }
    p {
      display: inline-block;
    }
    input[type=email] {
      padding: .5rem .5rem;
      border-radius:4px;
      border:1px solid darken($gray, 5);
      &:focus {
        outline: 0;
        border-color:$brand-secondary;
      }
    }
    input[type=submit] {
      @extend .btn-primary;
    }
  }

}
