.gform_wrapper .gfield input[type='text'],
.gform_wrapper .gfield input[type='email'],
.gform_wrapper .gfield input[type='tel'],
.gform_wrapper .gfield textarea {
  padding: .5rem .5rem!important;
  border-radius: 4px;
  border: 1px solid #e4e4e4;
  font-size:1.3rem!important;
  &:focus {
    outline: 0;
    border-color:$brand-secondary;
  }
}

.gform_wrapper .gfield select {
  height: 48px;
  position: relative;
  top:-1px;
}

.gform_button.button {
  @extend .btn-primary;
  cursor: pointer;
}
