nav.main-navbar {
  background-color:#fff;
  transition: all .25s ease-in-out;
  font-family: $headline-font;
  padding-top:1rem;
  padding-bottom:.75rem;
  min-height: 80px;
  @media (min-width: 992px) {
    min-height: 88px;
  }
  @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
   /* IE10+ specific styles go here */
   height: 88px;
  }
  @media screen and (max-width: 991px) and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
   /* IE10+ specific styles go here */
   height: 80px;
  }



  svg.hoh-logo {
    position: relative;
    top:5px;
    .cls-1 {
      fill:$brand-primary;
    }
    .cls-2 {
      fill:$brand-secondary;
    }
  }

  @media (min-width: 992px) {
    background-color:transparent;

    svg.hoh-logo {
      width: 100%;
      top:0px;

      .cls-1 {
        fill:#fff;
      }
      .cls-2 {
        fill:#fff;
      }
    }

  }

  a.navbar-brand {
    display: inline-block;
    width: 12rem;
    @media (min-width: 992px) {
      width: 15rem;
    }
  }

  button.navbar-toggler {


  }

  .navbar-nav {
    width: 100%;
    @media (min-width: 992px) {
      margin-left: auto;
      width: auto;
    }
  }

  .navbar-nav li a.nav-link, .navbar-nav li.show a.nav-link {
    padding: .75rem 1rem;
    color:$brand-primary;
    position: relative;
    font-size: 1.2rem;
    letter-spacing: 1px;


    &:hover {
      color:rgba($brand-primary,0.8);
    }

    @media (min-width: 992px) {
      color:#fff;
      padding: .5rem 1rem;

      &:hover {
        color:rgba(255,255,255,0.8);
      }
    }
  }

  .navbar-nav li.active a.nav-link {
    color:$brand-primary;

    @media (min-width: 992px) {
      color:#fff;
    }

    &:before {
      content:"";
      width: calc(100% - 2rem);
      height: 4px;
      display: block;
      position: absolute;
      left:1rem;
      bottom:0;
      background-color: rgba($brand-secondary, 0.5);
    }
  }

  &.navbar-scrolled {
    background: white;
    box-shadow: 0 0 15px 0 rgba(0,0,0,.1);

    svg.hoh-logo {
      .cls-1 {
        fill:$brand-primary;
      }
      .cls-2 {
        fill:$brand-secondary;
      }
    }

    .navbar-nav li a.nav-link {
      color:$brand-primary;
      &:hover {
        color:rgba($brand-primary,0.8);
      }
    }

  }

  // Donate button
  #menu-item-1543 a {
    @extend .btn-primary;
    border-radius: 4px;
    margin-left: 1rem;
    &:before {
      display: none;
    }
  }

  .nav-item a {
    display: block;
    text-align: center;
    @media (min-width: 992px) {
      display: inline-block;
    }
  }

  .dropdown-item {
    padding: .75rem 1.5rem;
    display: block;
    text-align: center;
    @media (min-width: 992px) {
      text-align: left!important;
    }
  }

  .dropdown-item.active, .dropdown-item:active {
    background-color: $brand-secondary;
  }

}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 600px) {
  #menu-main-menu {
    width: 100%;
  }
}
