.hero {
  height: 280px;
  height: 40vh;
  background-color: $brand-primary;
  color: #fff;
  text-align: center;
  border-bottom:5px solid $brand-secondary;
  position: relative;

  @media (min-width: 992px) {
    height: 420px;
    height: calc(60vh);
  }

  h1 {
    color:#fff;
    font-size: 2rem;
    @media (min-width: 768px) {
      font-size: 3rem;
    }
  }

  .container {
    position: absolute;
    left: 50%;
    right:50%;
    transform: translateX(-50%);
  }

  .wallpaper {
    position: absolute;
    top: 0;
    width: 100%;
    width: 100vw;

    height: 280px;
    height: calc(40vh - 5px);
    background-size: cover;
    background-position: center center;
    opacity: .5;

    @media (min-width: 992px) {
      height: 420px;
      height: calc(60vh - 5px);
    }
  }

  &.hero-home {
    height: 400px;
    height: 100vh;
    @media (min-width: 992px) {
      height: 700px;
      height: 100vh;
    }
    .container {
      margin-top: 18vh;
    }
    .wallpaper {
      height: 400px;
      height: calc(100vh - 5px);
      @media (min-width: 992px) {
        height: 700px;
        height: calc(100vh - 5px);
      }


    }
  }

}
