.section--testimonial {
  color: $white;


  .testimonial-bar {
    background-color: $brand-primary;
    text-align: center;
    padding: 2rem;


    h2 {
      margin-bottom: 0;
      font-size: 1.6rem;
      color:#fff;
    }
  }

  .testimonial-background {
    position: relative;
    background-position: center;
    background-size: cover;
    padding: 6rem 0;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(10, 10, 10, 0.5);
    border-top: 5px solid $brand-secondary;

    @media (min-width: 768px) {
      font-size: 2rem;
      padding: 10rem 0;
    }

    @media (min-width: 1800px) {
      padding: 15rem 0;
    }

    &:after {
      content: ' ';
      position:absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0.5;
      background-color: $brand-primary;
    }
    .col-sm-6 {
      z-index: 2;

      p {
        font-size: 1.5rem;
        line-height: 2.8rem;
        font-family: $quote-font;
        font-weight: 200;

        @media (min-width: 768px) {
          font-size: 1.8rem;
        }

      }
      h6 {
        font-size: 2rem;
        font-family: $base-font;
        color:#fff;

        @media (min-width: 768px) {
          font-size: 2rem;
        }

      }

    }

  }

}
