h1,h2,h3,h4,h5,h6 {
  font-family: $headline-font;
  color: $brand-primary;
  letter-spacing: 1px;
}

blockquote {
  font-family: $quote-font;
  font-size:1.5rem;
  padding:2.5rem 4rem;
  color:#808080;
}

a {
  color:$brand-secondary;
  &:hover {
    color: $brand-primary;
  }
}

p {
  line-height: 1.8rem;
}
